<!DOCTYPE html>
<head>
<title>Orsonet</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='bear.png') }}">
</head>
<body>
  <div id="container" align="center">
  <h1>Benvenuto in Orsonet!</h1>
  <h2>Ultima rilevazione: {{last_time}}</h2>
  <video width="800" height="600" controls>
    <source src="{{video}}?version={{time_str}}" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  </div>
</body>
<footer>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script type="text/javascript" defer>
  var graphs = {{charts_json | safe}};
  for (var graph of graphs){
    var div = document.createElement('div');
    div.setAttribute('id', graph.id);
    document.getElementById('container').appendChild(div)
    Plotly.plot(graph.id, graph.data, graph.layout);
  }
  </script>
</footer>
</html>
